<div id="modal_user" class="modal hide fade in modal-dialog" aria-hidden="true" style = "display: none; ">
  <div class="modal-header modal-dialog-title modal-dialog-title-draggable">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Add User</h3>
  </div>

  <div class="modal-body modal-dialog-content">
    <div id="add-story-dialog">
      <%#= select_tag "user", options_from_collection_for_select(@users, "id", "username"), :prompt => "Select someone" %>

      <ul>
        <% @users.each do |user| %>
            <li>
              <%= check_box_tag 'user_ids[]', user.id %>
              <%= user.username %>
            </li>
        <% end %>
      </ul>

          <div class="modal-footer modal-dialog-buttons">

            <%= f.submit 'Add', :class => "btn" %>
            <%= link_to 'Cancel', '#', "data-dismiss" => "modal", :class => "btn" %>

          </div>

    </div>
  </div>

</div>